body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

#loading-mask {
  background-color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#tabs {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  overflow:hidden;
}

#tabs div {
  height: 100%;
}

#tabs li .ui-icon-close {
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}
