.sidemenu {
  width: 3.5rem;
  min-width: 3.5rem;
  background-color: #2C2C2C;
  text-align: center;
  padding-top: 0.5rem;
}

.sidemenu > .bp3-divider {
  border-color: #6D6D6D;
}

button.sidemenu-button {
  outline: none;
}
button.sidemenu-button[disabled] {
  cursor: default !important;
}

button.sidemenu-button[disabled] > .bp3-icon > svg:not([fill]) {
  fill: #6D6D6D;
}

button.sidemenu-button > .bp3-icon {
  color: #EDEDED;
}



