.sidemenu {
  width: 3.5rem;
  min-width: 3.5rem;
  background-color: #2C2C2C;
  text-align: center;
}

.sidemenu > .bp3-divider {
  border-color: #6D6D6D;
}

.sidemenu-button {
  width: 100%;
  display: inline-block;
  padding: 9px 0;
}

span.bp3-icon {
  outline: none;
}

span.bp3-icon:hover {
  color: #FFFFFF;
}
