language: java
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.m2"
branches:
  only:
  - master
  - coverity_scan
env:
  global:
  - secure: NleX7IcOJ4Vwt4VLkXskUsHUVHt/tMtSw+l/tKfhievZ6Ddtyo+bgSXaWz9sCysYGKycOik84rerUEXwc4eG5sWavwNYudG7/FfWxvU80Dvbztzjb34TmLSA6bOwcYPKt3UC6Aa9vH1RvMDeITU6ravdxXSr3jpIYqaWAd9h2CI=
  - secure: fETdgm1lQXxABK+pnhOk/YRSjlmpUbv64Fp4TBhE2sGNR0EM6xMkKDWO2WrtXWIgGPLt7EIBujkI4pntPTrp59NSkkuAOLiZtfn3vr25FCuercHq99St9BtSFSksYPUnOpnQTCndIAseeA0jFszoR4Swbv3HjIhD3bH9oTlrzKE=
  - secure: UGWyiUB7ji6bNkCywhexy7sErFE9X4YUgZFiTDBxba+P7Czsipj4NHvXCum3v53n5OO7WJ0WVKRTUXLgVmH5aJW3YhLo7zmoW7zlChD5xxHY55s3EEQzYfWNF9IJURgbzt5TzhPi6RROnOiDoUqKZBY8BepaT/fguWNACuJ5+5g=
addons:
  hosts:
  - myshorthost
  hostname: myshorthost
  coverity_scan:
    project:
      name: GraphWalker/graphwalker-project
      description: Build submitted via Travis CI
    notification_email: nils.olsson@arcticblue.se
    build_command: mvn clean compile -DskipTests=true
    branch_pattern: coverity_scan
before_install:
- openssl aes-256-cbc -K $encrypted_e854261430b5_key -iv $encrypted_e854261430b5_iv
  -in github_deploy_key.enc -out github_deploy_key -d
- pip install --user codecov
install:
- sudo apt-get update -qq
script:
- if [ "${COVERITY_SCAN_BRANCH}" != 1 ]; then if [ "${TRAVIS_PULL_REQUEST}" = "false"];
  then mvn clean deploy --settings deploy.xml; else mvn clean package; fi fi
after_success:
- codecov
deploy:
  provider: releases
  api_key:
    secure: H2xNWrT/6zzrbAIw1U8sqhFxtchULU68loOZy0uErjYuHGYVq63Co7E3Y/NmVhVGFrvcxkYqMALhwJ8kTB2d/QguqOlUk7oJH84jh50xFKfiAuDNUcMECADz7KJcJQR/m799SZAnfplckpwt3xq5M5cwNOikeTQ8aluIfQ5IQtXbTd37DzIcBieNTU22pDzA4UP0Qje7iHHn16EmIN01SF6OA8Gprqj4XswOt3xJ/XKbCz1e+SuXBxDqRbfZqek6XAYJ+CgfNtSETL08JN6bFZHHXtTj0yvpRHmPF04M4qFhOxPujwf0p775CqfaZXWAVhKHoFJhb0hSEZehflSqwIa++V4Q/xACAY9287n9ZXFIzQi26ulqZ/uycdvqKuJ/1WL6VbmFzD0wl6h1bPNT52wzb0MLKcra9XY4V7YaFasxWtspbBGH5tBn7/RoJ0npLf+z8Ld9tRmHdlOYyEsu8pSZNwbQXGH/tIxtJfcmalz/E7pA/AfLgcJ3AgA7FHTFGT924FJy+W5CaUw/dXjgA51c/4qdWetnXLOKG1/RbZl0vX3ZoJopoG0qCeMY0vM1eEnY7oFuHEEizt/pe2W0qE6Qed02ImRNRxeOGGlXi/EJYdXkoy7fhUGPefLnTHTG/8gPLpNIYYD5QSI2IJcO9Duej7t8MTvGrDtyNKexBPk=
  tag_name: LATEST-BUILDS
  target_commitish: "$TRAVIS_COMMIT"
  draft: false
  file:
  - graphwalker-cli/target/graphwalker-cli-4.0.0-SNAPSHOT.jar
  - graphwalker-studio/target/graphwalker-studio-4.0.0-SNAPSHOT.jar
  overwrite: true
  on:
    tags: false
