language: java
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.m2"
branches:
  only:
  - master
  - coverity_scan
env:
  global:
  - secure: NleX7IcOJ4Vwt4VLkXskUsHUVHt/tMtSw+l/tKfhievZ6Ddtyo+bgSXaWz9sCysYGKycOik84rerUEXwc4eG5sWavwNYudG7/FfWxvU80Dvbztzjb34TmLSA6bOwcYPKt3UC6Aa9vH1RvMDeITU6ravdxXSr3jpIYqaWAd9h2CI=
  - secure: fETdgm1lQXxABK+pnhOk/YRSjlmpUbv64Fp4TBhE2sGNR0EM6xMkKDWO2WrtXWIgGPLt7EIBujkI4pntPTrp59NSkkuAOLiZtfn3vr25FCuercHq99St9BtSFSksYPUnOpnQTCndIAseeA0jFszoR4Swbv3HjIhD3bH9oTlrzKE=
  - secure: l4l57R2f/x+Dxaf+N4n/87RYsMASZ/UDoN9DiBFhM5mOKeaVoi+eriDR3Cnx3UR4ENVEDQs0WVeizJ2op27fEAfbywyLDbjHChAhajd4ZA9LaudPlIbZ/tGUTGuiA3piwCs0wJj9hmfrUkYytr7I8Jk0bQnjr8ahjNpU8uniyNToKCbT7G5vtwgNI+ElAycKKhCYlf8JdbHMsdlCVbkC8SRgKlXZEGrx0bB7VJ3u0am0IlZzFmF2cx1U+3sepuCiM1F2ZjBgH+0oFnqANPFAp3csqxpjjQZWP/E8Jzjre7t7Zr0ZbBKW5luRteG9bqgCRbp8nTDRmBN6YMrtrNvv2JvU/fZDie+Vl3+8+56ebTKGfeFJ0DRCa4Nrj2cXPsqkio2/GYgExSsmQtWtHNzrsqxlcOPuFMVaINE2w0K70+gejCoy86cAxIOXTRfaqSYAkWTEK5JMaDxQdC5LWfq3s1sM+8As4hRYq7IyqjA7+8KyIOw2PJMG/buSAE+kLIirSdsNZR8qszuSumriPWAglLm716kU88F80L1RQVzFJn6b1hE77GewFeutAKYIEuQY8sCy6VaMx4ZzH3iQerm/W212P1SczmspOyLzEPnj5T0luVnkkmvYV+6XeDrykFQlVtIGadqhc7de+bQcc7qpBnUVD/KwGBLAK8M9vC++l2U=
addons:
  hosts:
  - myshorthost
  hostname: myshorthost
  coverity_scan:
    project:
      name: GraphWalker/graphwalker-project
      description: Build submitted via Travis CI
    notification_email: nils.olsson@arcticblue.se
    build_command: mvn clean compile -DskipTests=true
    branch_pattern: coverity_scan
before_install:
- pip install --user codecov
install:
- sudo apt-get update -qq
script:
- if [ "${COVERITY_SCAN_BRANCH}" != 1 ]; then if [ "${TRAVIS_PULL_REQUEST}" = "false"];
  then mvn clean deploy --settings deploy.xml; else mvn clean package; fi fi
after_success:
- codecov
before_deploy:
- export TRAVIS_TAG="LATEST-BUILDS"
- git config --local user.name "$USER_NAME"
- git config --local user.email "$USER_EMAIL"
- git tag --force "$TRAVIS_TAG" "$TRAVIS_COMMIT"
- git push --force --tags https://${GH_TOKEN}@github.com/GraphWalker/graphwalker-project.git
  > /dev/null 2>&1
deploy:
  provider: releases
  api_key:
    secure: N1NZGwX9/Hrm7Qs3BP4AJ1HnUr7rydL+vd4e9rW6ISs6M6acUShxIMLFsxTXrYblsfDYCQ81r7S4tRENYXjvXwZjQGSyBmkkY1WQuQhl4QV4eepCy5i/yp7m15P7CZHkeqg5XSJteST4rpaz9oxrBCRYyVGArZUlQcWYnpUbmB0=
  tag_name: "$TRAVIS_TAG"
  target_commitish: "$TRAVIS_COMMIT"
  draft: false
  file:
  - graphwalker-cli/target/graphwalker-cli-4.0.0-SNAPSHOT.jar
  - graphwalker-studio/target/graphwalker-studio-4.0.0-SNAPSHOT.jar
  overwrite: true
  skip_cleanup: true
