language: java
jdk:
  - openjdk7

# whitelist
branches:
  only:
    - master

env:
  global:
    - secure: "Si+FksmD04Qev09hkYqWYN4rYQderrvMt6/kZBTgEek/v4Bd8QVCcbkZemYQCLnfhm94fNJDVrvpbrZhkeSWhCXKnnsYMH9oaxQWSd4aUI55V9QAseVAWMod5d2TSD7kTIo1owV5xh9LHTLmwnv4v6WmV3dSHSQc0zQh09dFC/M="
    - secure: "IVcJyf13GCwLkpYKqygwTH9f3EG1YiqdmXWPCt5d9DXKKLjbSq/MFQ/nwdgfgfJAsgrSXN0I+6fIf8/INtI4YcKTpzAblXdeAkWdVrD4xpRSC7TpEHdEGMWEBtSWzJy8b92F2cxCXuk/QPDK4d8/QuelkFD9C9IztmgSqq7fQQg="
    - secure: "bBBBDwJVxjkjcIEoUzvI20WQXcFynU3j9HMsFLyWmKIcsuwNyg9PhVU6FSeqlGWeZmVRgHKJh9FtfKTeKPppsEn8gSrJlIHbaVdBSmXHhtRI8TCB3YW8ZaIkfxvlhoekyakRFRUkyy/dpkjTMGEjUk31RTl6X+dv3ofbx2gJD4s="
    - secure: "MUnmC+xSuqkyWsgTpY+jU5VcZ3cXwyAXXXODZO+RGL5zX8dQdni7Qu3+HOcd+Zk00yBxe3Nb8bAx2bN63XngSgqQXhYPJX9HaaS+2F9H/mwJfcot7raIrCz1S0lGrmwzW8BOGUpSlkiVTgSPqWAYSznsC0carACztdZcX/rTs0o="

before_install:
  - sudo apt-get update -qq
  - git clone --depth=50 --branch=master git://github.com/GraphWalker/graphwalker-project.git ../graphwalker-project

install:
  - mvn -q deploy --settings ../graphwalker-project/deploy.xml
