<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GraphWalker Studio</title>
        <meta name="description" content="GraphWalker Studio">
        <meta name="viewport" content="width=device-width">

        <!--[if lt IE 9]>
        <script src="components/es5-shim/es5-shim.js"></script>
        <script src="components/json3/lib/json3.js"></script>
        <![endif]-->
        <script src="components/jquery/dist/jquery.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-cookies/angular-cookies.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <script src="components/angular-animate/angular-animate.js"></script>
        <script src="components/angular-touch/angular-touch.js"></script>
        <script src="components/angular-scroll/angular-scroll.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/ng-breadcrumbs/dist/ng-breadcrumbs.js"></script>
        <script src="components/fullcalendar/fullcalendar.js"></script>
        <script src="components/fullcalendar/gcal.js"></script>
        <script src="components/angular-ui-calendar/src/calendar.js"></script>
        <script src="components/requirejs/require.js" data-main="scripts/main" type="text/javascript"></script>
        <script src="scripts/dashboard.js"></script>

        <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="components/fullcalendar/fullcalendar.css" />
        <link rel="stylesheet" href="css/canvas.css" />
        <link rel="stylesheet" href="css/octicons/octicons.css">
        <link rel="stylesheet" href="components/jquery-ui/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="css/dashboard.css" />
    </head>

    <body ng-app="dashboard" class="wrapper" ng-controller="DashboardController">
        <header>
            <form role="search">
                <input type="text" placeholder="Search">
            </form>
        </header>
        <aside>
            <ul>
                <li role="button" ng-repeat="route in routes" ng-class="{active: isActive(route)}" ng-click="navigate(route.url)">
                    <i class="fa fa-fw {{route.icon}}"></i><span>{{route.label}}</span>
                </li>
            </ul>
        </aside>
        <article ng-view></article>
    </body>
</html>
