@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

#root {
  display: flex;
}

