html, body {
  font-family: Verdana;
  font-size: 10pt;
  height: 100%;
  overflow: hidden;
}

#rubberband {
  border: 1px dotted #0b3904;
  position: absolute;
  pointer-events: none;
}

._jsPlumb_connector:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-warning {
  background-color: rgba(247, 180, 92, 0.85);
  padding: 5px;
  margin: 5px 2px;
  border-radius: 4px;
  border: 1px solid #813c0c;
  color: whitesmoke;
}
.bg-success {
  background-color: rgba(99, 182, 83, 0.85);
  padding: 5px;
  margin: 5px 2px;
  border-radius: 4px;
  border: 1px solid #0c8111;
  color: whitesmoke;
}

button {
  background: #5b8590;
  padding: 4px 7px 2px 7px;
  color: white;
  border: 0;
  border-bottom: solid 3px #5b8590;
  outline: none;
  transition: border-color 0.2s ease-out;
  border-radius: 2px;
}
button:hover {
  border-bottom: solid 3px #76a6b3;
}
button:active {
  background: #426770;
}

button.red {
  background-color: #aa3b3b;
  border-bottom: solid 3px #703131;
}
button.red:hover {
  border-bottom: solid 3px #be4646;
}
button.red:active {
  background: #903030;
}

button.green {
  background-color: #4daa3b;
  border-bottom: solid 3px #409031;
}
button.green:hover {
  border-bottom: solid 3px #68b959;
}
button.green:active {
  background: #30903d;
}

input[type='text'] {
  height: 20px;
  border: none;
  border-bottom: solid 3px #f0f0f0;
  outline: none;
  transition: border-color 0.2s ease-out;
  box-sizing: border-box;
  height: 22px;
  padding-top: 4px;
}
input[type='text']:focus {
  border-bottom: solid 3px #5b8590;
}
