body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

#tabs {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  overflow:hidden;
}

#tabs div {
  height: 100%;
}

#tabs li .ui-icon-close {
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-panel.ui-panel-open {
  position:fixed;
}

.ui-panel-inner {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
